body {
    font-family: Arial, sans-serif;
    background:  #e0e0e0;
  }

  input[type="number"] {
    width: 50px;
    margin: 5px;
    border-radius: 28px;
    background: #e0e0e0;

  }

  #result {
    margin-top: 10px;
  }
  #calculator{
      margin-top: 50px;
      border-radius: 50px;
      background: #e0e0e0;
      box-shadow:  20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;
                   color: rgb(65, 63, 63);
  }